*{
    margin: 0px;
}
.q{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 900;
    color: white;
}
.w{
   
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: auto;

}
.e{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
   
}
.r{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    
    
}
.t{
    background-color: black;
    padding: 20px;
}
.y{
    display: none;
    
}

.box {
 
  height: 150px;
margin-top: 100px;
height: 250px;
  background-image: url("img.png");
  background-size: cover;

  background-repeat: no-repeat;
padding-left: 100px;
padding-right: 20px;
box-sizing: border-box;
display: flow-root;
        
}


.u{
    border: 2px solid #ECECEC;
 padding: 5px 10px;
 width: 77px;
 height: 41px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
 border-radius: 100px;

}

.i{
     border: 2px solid #ECECEC;
 padding: 5px 10px;
 width: 238px;
 height: 41px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
 border-radius: 100px;
}
.o{
    display: flex;
    gap: 20px;
     margin-top: 30px;
 
}
.p{
    font-size: 44px;
    font: 900px;
    color: white;
   margin-top: 30px;
   max-width: 500px;
}
.a{
    background-color: #E53624;
    width: 318px;
    height: 52px;
    border-radius: 100px;
     top: 80px;
     margin-top: 30px;
    border: none;

}
.s{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    max-width: 500px;
}
.d{
    display: flex;
    align-items: center;
    gap: 50px;
}
.f{
    font-size: 66px;
    font: bold;
    color: white;
    text-align: center;
     margin-top: 100px;
}
.g{
    font-size: 70px;
    font: bold;
    color: white;
    text-align: center; 
   
}
.h{
    font: 900;
    font-size: 25px;
    
}
.j{
   color: white; 
}
.k{
    display: flex;
    align-items: center;
    width: 80%;
   justify-content: space-between;
    margin: auto;
    margin-top: 80px;
}
@media (max-width: 700px){
    .k{
        flex-direction: column;
        gap: 50px;
    }
    .d{
        flex-direction: column;
    }
    .s{
     margin-top: 0px;
    }
    .a{
        left: 20px;
      
    }
    .p{
        left: 0px;
    }
    .o{
        left: 0px;
     
    
    }
    .box{
        width: 400px;
        height: 380px;
        gap: 10px;
        
    }
    .r{
        display: none;
    }
    .y{
        display: block
    }
    .e{
        display: none;
    }
}